{% extends 'base.html.twig' %}
{% block title %}
    Users
{% endblock %}

{% block body %}
    <h1 style="color: red">Users</h1>
    {% include 'user/parts/import_and_export_buttons.html.twig' %}
    <table class="table table-responsive small">
        <thead>
        <tr>
            {% include 'user/parts/photo_header.html.twig' %}
            {% include 'user/parts/name_and_email_header.html.twig' %}
            {#            {% include 'user/parts/business_address_combined_header.html.twig' %} #}
            {#            {% include 'user/parts/birthdays_header.html.twig' %} #}
            {#            {% include 'user/parts/telephone_numbers_header.html.twig' %} #}
            {% include 'user/parts/log_and_vcf_buttons_headers.html.twig' %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% include 'user/parts/photo_body.html.twig' %}
                {% include 'user/parts/name_and_email_body.html.twig' %}
                {#                {% include 'user/parts/index_addresses_body.html.twig' %} #}
                {#                {% include 'user/parts/birthdays_body.html.twig' %} #}
                {#                {% include 'user/parts/telephone_numbers_body.html.twig' %} #}
                {% include 'user/parts/log_and_vcf_buttons_body.html.twig' %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}




{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[1, 'asc'], [2, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
