{% for cms_copy in cms_copy_array|sort((a, b) => a.ranking <=> b.ranking) %}
    <div class="row">
        <div class="col-9">
            {% if cms_copy.ranking == 1 %}
            {% if cms_copy.hyperlinks is not empty %}
                <a target="_blank" href="{{ cms_copy.hyperlinks }}"><i class="fa fa-link"></i> </a>
            {% endif %}
            <h4>
                {{ attribute(cms_copy,'contentTitle'~LanguagesService.getSelectedLanguageCode)|raw }}
            </h4>
        </div>
        <div class="col-3">
            {% if is_granted('ROLE_ADMIN') %}
                User: {{ cms_copy.pageCountUsers }}; Admin: {{ cms_copy.pageCountAdmin }}
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endfor %}